:root{
    --main-color:red;
    --primary-color:black;
    --text-gray:gray;
    --text-light:white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5)), url(https://assets.nflxext.com/ffe/siteui/vlv3/1ecf18b2-adad-4684-bd9a-acab7f2a875f/f603a7c6-d020-45d6-93f1-1e744ee1473e/KE-en-20230116-popsignuptwoweeks-perspective_alpha_website_small.jpg);
    height: 120vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.container{
    text-align: center;
}
h1{
    font-size: small;
}
form h1,label{
    color:var(--text-light);
    color:var(--text-gray);
}
form{
    width: 35vw;
    height: 85vh;
    background-color: rgba(0, 0, 0,0.8);
    display: inline-block;
    padding: 25px;
    text-align: start;
}
.custom-link{
    text-decoration: none;
    color:var(--text-gray);
    margin-left: 20px;
}
.input-text{
    display: block;
    padding: 10px;
    content: white;
    /* background-color: var(--text-gray); */
    border: none;
    width: 100%;
    margin: 20px 0;

}
.custom-btn{
    display: block;
    width: 100%;
    background-color: var(--main-color);
    padding: 15px;
    text-align: center;
    color: var(--text-light);
    text-decoration: none;
    border: none;
    border-radius: 5px;
}
.input-text::placeholder{
    color: rgb(97, 96, 96);
}
.logo{
    margin: 20px;
    display: inline-block;
}
nav{
    margin: 10px;
}