{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NETFLIX</title>
    <link href="{% static 'css/netflix.css'%}" rel="stylesheet">
        <!--INCLUDE THE N LOGO-->
</head>
<body>
   <nav>
    <img src="{% static 'images/netflix-logo-png-2582.png'%}" alt="netflix logo" width="140px" height="80px" class="logo">
   </nav> 
   <div class="container">
    <form method="post" action="#">
        <h1>sign in</h1>
    <input type="text" class="input-text" placeholder="email or phone number" name="email-phone-number" id="email-phone-number">
    <input type="password" class="input-text" placeholder="password" name="password" id="password">
    <button type="submit" class="custom-btn">sign in</button>
    <input type="checkbox" name="remember-me" id="remember-me">
    <label for="remember-me">remember me</label>
    <a href="#" class="custom-link">Need help?</a>
 </form>
  </div>
</body>
</html>